<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="container">
      <section class="wrapper">
        <header>
          <div style="text-align: center; padding: 10px;">
            <img src="../../../assets/forgot-password.svg" alt="Login" width="40%">
          </div>
          <h1 style="text-align: center; color: #537ADF;"><b>Forgot Password?</b></h1>
          <p style="text-align: center; color: #537ADF;">You can reset your password here</p>
        </header>
        <section class="main-content">
          <form action="">
            <input type="email" placeholder="Enter Your Email" />
            <!-- <div class="line"></div>
            <input type="password" placeholder="Password" /> -->
            <button>Reset</button>
          </form>
        </section>
        <!-- <footer>
          <p><a href="" title="Forgot Password">Forgot Password?</a></p>
          <p><a href="" title="Register">Register</a></p>
        </footer> -->
      </section>
    </section>
  </body>
</html>
