<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img class="wave" src="../../../assets/wave.svg" />
    <div class="container">
      <div class="login-content">
        <form action="index.html">
          <img src="../../../assets/avatar1.svg" />
          <h3 class="title">Forgot<br>Password?</h3>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input type="text" class="input" placeholder="Email"/>
            </div>
          </div>
          <input type="submit" class="btn" value="Reset" />
        </form>
      </div>
      <div class="img">
        <img src="../../../assets/password.svg" />
      </div>
    </div>
  </body>
</html>
