<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div
        class="row"
        style="margin-top: 8%; box-shadow: 1px 1px 10px 10px #d2d8e9;"
      >
        <div class="col-md-6">
          <span class="close">&times;</span>
          <img
            src="../assets/school.png"
            class="img-fluid rounded mx-auto d-block"
            height="100%"
            width="100%"
          />
        </div>

        <div class="col-md-6" style="background-color: #345ed7; padding: 4%;">
          <h3>Register My School</h3>

          <div class="input-container">
            <i
              class="fa fa-user icon"
              aria-hidden="true"
              style="zoom: 1.2; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Firstname"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-user icon"
              aria-hidden="true"
              style="zoom: 1.2; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Lastname"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-graduation-cap icon"
              aria-hidden="true"
              style="zoom: 1.2; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Name of School"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-phone icon"
              aria-hidden="true"
              style="zoom: 1.3; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Mobile Number"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-envelope icon"
              aria-hidden="true"
              style="zoom: 1.1; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Email"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-pencil icon"
              aria-hidden="true"
              style="zoom: 1.3; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Title"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-lock icon"
              aria-hidden="true"
              style="zoom: 1.3; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Password"
              name="usrnm"
            />
          </div>
          <div class="input-container">
            <i
              class="fa fa-lock icon"
              aria-hidden="true"
              style="zoom: 1.3; color: #d5dae9;"
            ></i>
            <input
              class="input-field"
              type="text"
              placeholder="Confirm Password"
              name="usrnm"
            />
          </div>

          <div class="btn btn-info" (click)="goToPage('setup')">Register</div>
        </div>
      </div>
    </div>
  </div>
</div>
