<div class="container">
  <div class="imgBox">
    <img src="../assets/school.png" />
  </div>
  <div class="box">
    <span class="close">&times;</span>
    <div class="heading">
      Register My School
    </div>
    <div class="textbox">
      <i
        class="fa fa-user"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Firstname" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-user"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Lastname" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-graduation-cap"
        aria-hidden="true"
        style="zoom: 1.2; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Name of School" />
    </div>
    <div class="textbox">
      <i
        class="fa fa-phone"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Mobile Number" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-envelope"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="email" placeholder="Email" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-pencil"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Title" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-lock"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Password" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-lock"
        aria-hidden="true"
        style="zoom: 1.3; color: #858ea9;"
      ></i>
      <input type="text" placeholder="Confirm Password" required />
    </div>
    <button (click)="goToPage('setup')">
      Register
    </button>
  </div>
</div>
