<div class="container">
  <div class="imgBox">
    <img src="../../../assets/building.png" alt="">
  </div>
  <div class="box">
    <span class="close">&times;</span>
    <div class="heading" style="font-weight: bolder;">
      SCHOOL SETUP
    </div>
    <div class="textbox">
      <i
        class="fa fa-building"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input type="text" placeholder="Name of School" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-graduation-cap"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input
        list="courses"
        name="course"
        id="course"
        placeholder="Curriculum"
      />

      <datalist id="courses">
        <option value="CBSE"> </option>
        <option value="ICSE"> </option>
        <option value="IGCSE"> </option>
        <option value="IB"> </option>
        <option value="COACHING CENTER"> </option>
      </datalist>
    </div>

    <div class="textbox">
      <i
        class="fa fa-users"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input type="number" placeholder="Number of Students" required />
    </div>

    <div class="textbox">
      <i
        class="fa fa-shield"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input list="range" name="range" id="range" placeholder="Grade Range" />

      <datalist id="ranges">
        <option value="KG to 12th"> </option>
        <option value="KG to 6th"> </option>
        <option value="6th to 10th"> </option>
        <option value="6th to 12th"> </option>
      </datalist>
    </div>
    <div class="textbox">
      <i
        class="fa fa-user"
        aria-hidden="true"
        style="zoom: 1.2; color: white;"
      ></i>
      <input type="text" placeholder="Name of Chairman/Director" />
    </div>
    <div class="textbox">
      <i
        class="fa fa-phone"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input type="number" placeholder="Mobile Number" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-user"
        aria-hidden="true"
        style="zoom: 1.2; color: white;"
        ></i>
      <input type="text" placeholder="Name of Principal" />
    </div>
    <div class="textbox">
      <i
        class="fa fa-phone"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input type="number" placeholder="Mobile Number" required />
    </div>
    <div class="textbox">
      <i
        class="fa fa-envelope"
        aria-hidden="true"
        style="zoom: 1.3; color: white;"
      ></i>
      <input type="email" placeholder="Email" required />
    </div>

    <button (click)="goToPage('home')">
      Done
    </button>
  </div>
 
</div>
