<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="container">
      <section class="wrapper">
        <header>
          <div style="text-align: center; padding: 20px;">
            <img src="../../../assets/login.svg" alt="Login" width="30%" />
          </div>
          <h2 style="text-align: center; color: #537adf;"><b>Login</b></h2>
        </header>
        <section class="main-content">
          <form action="">
            <input type="email" placeholder="Email" />

            <div class="line"></div>
            <input type="password" placeholder="Password" />
            <button>Login</button>
          </form>
        </section>
        <footer>
          <p>
            <a href="/forgot-password" title="Forgot Password"
              >Forgot Password?</a
            >
          </p>
          <p><a href="/register" title="Register">Register</a></p>
        </footer>
      </section>
    </section>
  </body>
</html>
