<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img class="wave" src="../../../assets/wave.svg" />
    <div class="container">
      <div class="img">
        <img src="../../../assets/url.svg"/>
      </div>
      <div class="login-content">
        <form action="index.html">
          <h3 class="title">Create School Url</h3>
          <br>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <table>
                    <tr>
                        <td>
                            <input type="text" class="input" placeholder="Enter your url" style="border: none;"/> 
                        </td>
                        <td>
                            <h5 style="color: #2350BB;">.AccessPlay.com</h5>
                        </td>
                    </tr>
                </table>
            </div>
          </div>
          <input type="submit" class="btn" value="Create" />
          <input type="submit" class="btn" value="Chat" />
        </form>
      </div>
    </div>
  </body>
</html>

<!-- <table>
    <tr>
        <td>
            <input type="text" class="input" placeholder="Enter your url" style="border: none;"/> 
        </td>
        <td>
            <h5 style="color: #2350BB;">.AccessPlay.com</h5>
        </td>
    </tr>
</table> -->